.custom-range {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    background: #dee2e6;
    border-radius: 5px;
    background-image: linear-gradient(#0d6efd, #0d6efd);
    background-repeat: no-repeat;
    background-size: 0% 100%; 
    cursor: pointer;
}

.custom-range::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background: transparent; 
    border: none;
    height: 8px;
}

.custom-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #0d6efd;
    cursor: pointer;
    margin-top: -6px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    border: 2px solid white;
}
